body {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    background-color: #f0f0f0;
}

#speedContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 300px;
    border: 2px solid #2980b9;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#speedBar {
    width: 100%;
    background-color: #3498db;
    transition: height 0.1s ease-out;
    transform-origin: top;
}
